
*{
    margin: 0;
    padding: 0;
}
.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
/* .container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
} */
.banner{
    width: 1600px;
    max-width: 95%;
    margin: 0 auto;
    border: 1px solid black;
    background: url("../images/banner/banner1.png");
    background-size: cover;
}
.banner .banner-content{
    width: 525px;
    max-width: 33%;
    border: 1px solid blueviolet;
    text-align: right;
    margin: 216px 230px 166px 845px;
}
.banner-content h1{
    font-size: 65px;
    font-weight: bold;
    color: #151414;
}
.banner-content p{
    font-size: 16px;
    color: #151414;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.banner-content button{
    color:#FFFFFF;
    background-color:#F15B22;
    padding: 21px 26px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}