
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.banner{
    width: 1600px;
    max-width: 95%;
    margin: 0 auto;
    background: url("../images/banner/banner1.png");
    background-size: cover;
    padding: 216px 0px 166px;
    /* padding-top: 216px;
    padding-bottom: 166px; */
}
.banner .banner-content{
    width: 525px;
    max-width: 33%;
    text-align: right;
    margin: 0px 230px 0px 845px;
}
.banner-content h1{
    font-size: 65px;
    font-weight: bold;
    color: #151414;
}
.banner-content p{
    font-size: 16px;
    color: #151414;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.banner-content button{
    color:#FFFFFF;
    background-color:#F15B22;
    padding: 21px 26px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.failure{
    width: 1600px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    gap: 87px;
}
.failure .img-container{
    width: 569px;
    max-width: 35%;
    margin-top: 131px;
    margin-left: 206px;
    background-color:rgba(241,91,34,0.2) ;
}
.failure .img-container img{
    vertical-align: middle;
}

.failure .failure-content{
    width: 416px;
    max-width: 26%;
    margin-top: 370px;
    margin-right: 322px;
}
.failure-content h2{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
}
.failure-content p{
    font-size: 16px;
    color: #151414;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 16px;
}
.failure-content ul li{
    font-size: 16px;
    color: #444343;
    line-height: 26px;
    margin-bottom: 8px;
    list-style: none;
}
.failure-content ul li i{
    color: aqua;
}
.plan-section{
    width: 1600px;
    max-width: 95%;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding: 130px 230px;
}
.plan-container{
    /* border: 1px solid blueviolet; */
    text-align: center;
}
.plan-container .plan-title{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 55px;
}
.plan-container .plans{
    display: flex;
    justify-content: space-between;
}
.plans .plan-card h2{
    margin: 16px 0px;
    font-size: 30px;
    font-weight: bold;
    color: #151414;
}
.plans .plan-card p{
    font-size: 25px;
    font-weight: 500;
    color:#737272;
}
.mindset{
    /* border: 1px solid brown; */
    margin-top: 130px;
    padding: 59px 617px 59px 64px;
    background: url("../images/gradient2.png"), url("../images/watch.png");
    background-size: cover;
    text-align: left;
    border-radius: 8px;
}
.mindset-content h1{
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.mindset-content button{
    color:#F15B22;
    background-color:#FFFFFF;
    padding: 21px 36px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.footer{
    width: 1600px;
    max-width: 95%;
    border: 1px solid black;
    margin: 0 auto;
    padding: 130px 230px;
    background-color: #151414;
    display: flex;
    gap: 331px;
}
.footer .future{
    max-width: 485px;
}
.footer .future h1{
    font-size: 45px;
    font-weight: bold;
    color: #F8F8F8;
    margin-bottom: 16px;
}
.footer .future p{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 26px;
    margin-bottom: 24px;
}
.footer .future .contact{
    color: #FFFFFF;
    margin-bottom: 16px;
}
.social{
    margin-top: 32px;
    display: flex;
    gap:17px;
}
.subscribe{
    max-width:325px;
}
.subscribe h2{
    color: #FFFFFF;
    font-weight:600;
    font-size: 25px;
    margin-bottom: 31px;
}
.subscribe input[type="text"]{
  width: 325px;
  padding: 21px 0px 21px 21px;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #151414;
  color: white;
  
}
.subscribe button{
    color:#F15B22;
    background-color:#FFFFFF;
    padding: 20px 36px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 16px;
}